<div class="crud-table-page-wrapper">
    <div [class]="(expanded) ? 'expanded-crud-table-wrapper' : 'crud-table-wrapper'">

        <handy-form #tableFilter class="crud-table-filters-form" [hideFormOptions]="true">
            <div class="crud-table-actions-bar">

                <raised-btn icon="add" color="primary" routerLink="./new">New entry</raised-btn>

                <div class="crud-table-search-bar">

                    <handy-text-input #searchInput class="crud-table-search-input" [formControl]="filterForm.get('search')" label="Search" placeholder="Search">
                    </handy-text-input>

                    <handy-multi-select-input #searchableFieldsSelect class="crud-table-searchable-fields-input" [formControl]="filterForm.get('searchableFields')" label="Search fields" placeholder="Search fields">
                    </handy-multi-select-input>
                </div>

                <div class="crud-table-filters-btns-wrapper">

                    <div class="crud-table-filters-btns">

                        <stroked-btn #filtersToggle color="primary" icon="filter_list">{{ (filtersToggleState) ? 'Hide' : 'Show'}} filters</stroked-btn>
                        <stroked-btn #clearFilters color="warn" icon="refresh">Reset filters</stroked-btn>

                    </div>

                </div>

            </div>
            <handy-table-filters>
                <handy-multi-select-input #optionalColumnsSelect class="crud-table-filter-input" [formControl]="filterForm.get('displayedColumns')" label="Diplay columns" placeholder="Diplay columns">
                </handy-multi-select-input>

                <handy-select-input class="crud-table-filter-input" [formControl]="filterForm.get('_id')" label="Id" placeholder="Id" [options]="_idFilterOptions" [hasEmptyOption]="true" emptyOptionLabel="Any"></handy-select-input>

                <handy-select-input class="crud-table-filter-input" [formControl]="filterForm.get('studentAddress')" label="Full Address" placeholder="Full Address" [options]="studentAddressFilterOptions" [hasEmptyOption]="true" emptyOptionLabel="Any"></handy-select-input>

                <handy-select-input class="crud-table-filter-input" [formControl]="filterForm.get('studentEmail')" label="Email" placeholder="Email" [options]="studentEmailFilterOptions" [hasEmptyOption]="true" emptyOptionLabel="Any"></handy-select-input>

            </handy-table-filters>

        </handy-form>



    </div>

    <handy-table>

        <mat-table [dataSource]="dataSource" matSort cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">

            <ng-container matColumnDef="_id">

                <mat-header-cell *matHeaderCellDef cdkDrag cdkDragLockAxis="x" mat-sort-header><span *cdkDragPreview><basic-btn icon="swap_horiz">Id</basic-btn></span>Id</mat-header-cell>

                <mat-cell *matCellDef="let element">{{element._id}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="studentName">

                <mat-header-cell *matHeaderCellDef cdkDrag cdkDragLockAxis="x" mat-sort-header><span *cdkDragPreview><basic-btn icon="swap_horiz">Student Name</basic-btn></span>Student Name</mat-header-cell>

                <mat-cell *matCellDef="let element">{{element.studentName}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="studentAddress">

                <mat-header-cell *matHeaderCellDef cdkDrag cdkDragLockAxis="x" mat-sort-header><span *cdkDragPreview><basic-btn icon="swap_horiz">Full Address</basic-btn></span>Full Address</mat-header-cell>

                <mat-cell *matCellDef="let element">{{element.studentAddress}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="studentCourse">

                <mat-header-cell *matHeaderCellDef cdkDrag cdkDragLockAxis="x" mat-sort-header><span *cdkDragPreview><basic-btn icon="swap_horiz">Course</basic-btn></span>Course</mat-header-cell>

                <mat-cell *matCellDef="let element">{{element.studentCourse}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="studentMobile">

                <mat-header-cell *matHeaderCellDef cdkDrag cdkDragLockAxis="x" mat-sort-header><span *cdkDragPreview><basic-btn icon="swap_horiz">Mobile No</basic-btn></span>Mobile No</mat-header-cell>

                <mat-cell *matCellDef="let element">{{element.studentMobile}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="studentEmail">

                <mat-header-cell *matHeaderCellDef cdkDrag cdkDragLockAxis="x" mat-sort-header><span *cdkDragPreview><basic-btn icon="swap_horiz">Email</basic-btn></span>Email</mat-header-cell>

                <mat-cell *matCellDef="let element">{{element.studentEmail}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="actions">

                <mat-header-cell *matHeaderCellDef class="crud-table-actions-col" cdkDrag cdkDragLockAxis="x" mat-sort-header><span *cdkDragPreview><basic-btn icon="swap_horiz">Actions</basic-btn></span>Actions</mat-header-cell>

                <mat-cell class="crud-table-actions-col" *matCellDef="let element">

                    <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="8px">
                        <stroked-btn icon="edit" color="primary" [routerLink]="['./edit/' + element._id]">Edit</stroked-btn>
                        <stroked-btn icon="delete_otl" color="warn" (confirmClick)="removeEntryAction(element._id)">Remove</stroked-btn>

                    </div>

                </mat-cell>

            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

    </handy-table>

    <handy-table-paginator></handy-table-paginator>

    <div fxHide.lt-lg class="table-expand-btn">

        <icon-btn (click)="toogleExpandedState()" [matTooltip]="(expanded) ? 'Shrink table' : 'Expand table'" [icon]="(expanded) ? 'west' : 'east'"></icon-btn>

    </div>

</div>
