
// background log in
.light-theme .mat-app-background, 
.light-theme.mat-app-background {
  background-color: #3a4149;
}
.light-theme .cdk-overlay-pane.mat-app-background{
  background-color: #eeeeee;

}

.light-theme .auth-page .logo-side-nav {
  border: 1px solid #3a4149;
}