<ng-template #formContent>
  <handy-form #formComp [formName]="formName" [formGroup]="form" [rememberState]="rememberFormState"
    [defaultResetBtn]="true" [disablePin]="isUpdate" [hideFormOptions]="true" (validSubmitEvent)="onValidSubmit($event)"
    (invalidSubmitEvent)="onInvalidSubmit($event)" (submitDisabledChange)="submitDisabledChange($event)">



    <!-- Input fields -->




    <raised-btn *ngIf="!inDialog" color="primary" [disabled]="submitDisabled" (click)="triggerSubmit()">Submit
    </raised-btn>

  </handy-form>
</ng-template>

<!-- For handling both, as regular component and as dialog -->
<ng-container *ngIf="!inDialog">

  <div class="handy-form-page-wrapper">

    <div class="handy-form-wrapper">

      <ng-container *ngTemplateOutlet="formContent"></ng-container>

    </div>

  </div>

</ng-container>

<ng-container *ngIf="inDialog">

  <mat-dialog-content class="mat-typography">

    <ng-container *ngTemplateOutlet="formContent"></ng-container>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <basic-btn icon="close" (click)="dialogRef.close()">Cancel</basic-btn>
    <raised-btn color="primary" [disabled]="submitDisabled" (click)="triggerSubmit()">Submit</raised-btn>
  </mat-dialog-actions>

</ng-container>