:host {
  display: block;
  margin-top: 8px;
  width: 100%;
}

.filters-content {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1%;
}

mat-expansion-panel {
  width: 100%;
}

.filters-headline {
  padding-top: 8px;
}