/* Structure */
.example-container {
  position: relative;
  min-height: 300px;
}

.example-table-container {
  position: relative;
  overflow: auto;
  // max-height: 40vh;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host {
  display: block;
}
