<handy-nav-layout>

  <div class="home-page-content">
    <div class="logo-side-nav">
      <img src="/assets/logo.png" alt="logo">
    </div>

    <h1>Welcome to</h1>
    <h1>{{ config.data.projectName }}</h1>

    <!-- <h3>Cores: {{ config.getCores() }}</h3> -->

    <raised-btn color="primary" icon="login" routerLink="/login">Login</raised-btn>

    <!-- <basic-btn trackClick="Click name" >Click</basic-btn>
    <basic-btn goalClick="Goal name" [goalValue]="50" >Click</basic-btn>
    <basic-btn conversionClick="Conversion name" [conversionValue]="100" >Click</basic-btn>


    <h1 *abVersionA>Shows only on A version</h1>
    <h1 *abVersionB>Shows only on B version</h1> -->
    
    <!-- <button (click)="falseLogin()">False login</button>
        <button (click)="switchTheme()">Switch Theme</button>
      
        <h1 *xs>XS</h1>
        <h1 *sm>SM</h1>
        <h1 *md>MD</h1>
        <h1 *lg>LG</h1>
        <h1 *xl>XL</h1>
        
        <h1 *viewPorts="['xs', 'md', 'xl']">XS MD XL</h1>
        <h1 *viewPorts="['sm', 'lg']">SM LG</h1>
        
        <h1 *loggedIn>Logged in only</h1>
        <h1 *notLoggedIn>Not Logged in only</h1>
        <h1 *userRoles="['user']">User role only</h1>
        <h1 *userPermissions="['second']">User Permission only</h1>
        <h1 *userPermissions="['first']">Should not be visible</h1>
        <h1 *userGroup="['paid']">Should not be visible</h1>
      
        <h1 *browser>Browser</h1>
        <h1 *desktop>Desktop</h1>
        <h1 *server>Server</h1>
        <h1 *mobile>Mobile</h1>
        <h1 *ios>IOS</h1>
        <h1 *android>Adnroid</h1>
        <h1 *dev>Dev env</h1>
        <h1 *prod>Prod env</h1>
        <h1 *handyEnv="['prod', 'stag']">combined</h1>
      
        <button mat-icon-button>
          <handy-icon placement="mat-icon-button" (click)="handyNgLayoutService.switchSidenavPosition()"
            [icon]="(handyNgLayoutService.sidenavPosition == 'side') ? 'expand-alt' : 'compress-alt'"></handy-icon>
        </button> -->

  </div>

</handy-nav-layout>