<ng-template #formContent>

  <h1 class="handy-form-title">Login</h1>
  <handy-form #formComp [formName]="formName" [formGroup]="form" [rememberState]="rememberFormState"
  (valueChange)="clearMessages()"
    [defaultResetBtn]="false" [disablePin]="true" [hideFormOptions]="true" (validSubmitEvent)="onValidSubmit($event)"
    (invalidSubmitEvent)="onInvalidSubmit($event)" (submitDisabledChange)="submitDisabledChange($event)">

    <!-- Input fields -->

    <handy-text-input [formControl]="form.get('email')" label="Email"
      placeholder="your@email.com"></handy-text-input>
    <handy-password-input [formControl]="form.get('password')" label="Password"></handy-password-input>

    <mat-error *ngIf="loginErrMsg">{{ loginErrMsg }}</mat-error>
    <mat-error *ngIf="unlockCountDown" class="handy-form-unlockCountDown">Account
      is locked for next
      {{ unlockCountDown | handyTime }}</mat-error>

    <div class="handy-form-action-login">
      <raised-btn *ngIf="!inDialog" color="primary" icon="login" [disabled]="submitDisabled"
        (click)="triggerSubmit()" class="handy-btn-form-action">Login</raised-btn>
      
        <a *ngIf="((requestEmail !== 'unlock') && (requestEmail !== 'verifyEmail'))"
          routerLink="/email-request/passwordReset" 
        [queryParams]="{ email: form.get('email').value }">Forgot Your
        Password?</a>

        <stroked-btn *ngIf="requestEmail === 'unlock'" routerLink="/email-request/unlock"
          [queryParams]="{ email: form.get('email').value }" color="primary" icon="lock_open">
          Unlock Account
        </stroked-btn>
        <stroked-btn *ngIf="requestEmail === 'verifyEmail'" routerLink="/email-request/verify"
          [queryParams]="{ email: form.get('email').value }" color="primary" icon="email">
          Verify Account Email
        </stroked-btn>
    </div>
    <div class="handy-form-action-login-footer" [ngClass]="[ ( requestEmail === 'unlock') || (requestEmail === 'verifyEmail') ? 'handy-form-action-login-footer-many' :' def']" >
      <a *ngIf="openRegistration" routerLink="/register" [queryParams]="{ email: form.get('email').value }">Create a New Account</a>
      <a *ngIf="(requestEmail === 'unlock') || (requestEmail === 'verifyEmail')"
        routerLink="/email-request/passwordReset" [queryParams]="{ email: form.get('email').value }">Forgot Your
        Password?</a>
          
    </div>
  </handy-form>
</ng-template>

<!-- For handling both, as regular component and as dialog -->
<ng-container *ngIf="!inDialog">
  <ng-container *ngTemplateOutlet="formContent"></ng-container>
</ng-container>

<ng-container *ngIf="inDialog">

  <mat-dialog-content class="mat-typography">

    <ng-container *ngTemplateOutlet="formContent"></ng-container>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button color="warn" [disabled]="submitDisabled" (click)="triggerSubmit()">Log in</button>
  </mat-dialog-actions>

</ng-container>
