</td>
</tr>
</table>
</td>
</tr>

<!-- END MAIN CONTENT AREA -->
</table>
<!-- END CENTERED WHITE CONTAINER -->

<!-- START FOOTER -->
<div class="footer">
  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="content-block">
        <span class="apple-link">Handy Apps, Unit 11a Westlink Business Park, Doughcloyne Industrial Est., Wilton, Cork
          T12 EN26</span>
        {{!-- <br> Don't like these emails? <a href="https://handyapps.ie/contact">Unsubscribe</a>. --}}
      </td>
    </tr>
    <tr>
      <td class="content-block powered-by">
        Phone: <a href="tel:00353212348891" style="text-decoration: underline;">+353 21 234 8891</a><br>
        Email: <a href="mailto:hello@handyapps.ie" style="text-decoration: underline;">hello@handyapps.ie</a><br>
      </td>
    </tr>
  </table>
</div>
<!-- END FOOTER -->

</div>
</td>
<td>&nbsp;</td>
</tr>
</table>
</body>

</html>