<mat-form-field [appearance]="_appearance">

  <mat-label *ngIf="_label">{{ _label }}</mat-label>

  <input #inputField="ngModel" autocomplete="off" style="text-align: center;" (focus)="onTouched()" (focusout)="updateChanges(true)" [disabled]="_isDisabled"
    matInput [(ngModel)]="_value" (ngModelChange)="updateChanges()" type="time" [min]="_minVal" [max]="_maxVal" [placeholder]="_placeholder">

  <handy-icon *ngIf="_prefixIcon && _fieldStatus !== 'PENDING' && !_pinningState" (click)="triggerPrefixClick()"
    matPrefix [size]="_prefixAndSufixIconSize" [icon]="_prefixIcon"></handy-icon>
  <handy-icon *ngIf="_sufixIcon && _fieldStatus !== 'PENDING' && !_pinningState" (click)="triggerSufixClick()" matSuffix
     [size]="_prefixAndSufixIconSize" [icon]="_sufixIcon"></handy-icon>

  <!-- Pin button -->
  <button *ngIf="_handyNgUserService.loggedInStatus && _pinningState && !_disableFieldPin" mat-icon-button
    (click)="handlePinClick()" matSuffix>
    <handy-icon [size]="16" [icon]="(_hasPinnedVal) ? 'lock' : 'lock_open'"></handy-icon>
  </button>

  <span *ngIf="_prefixText && _fieldStatus !== 'PENDING' && !_pinningState" matPrefix
    (click)="triggerPrefixClick()">{{ _prefixText }}</span>
  <span *ngIf="_sufixText && _fieldStatus !== 'PENDING' && !_pinningState" matSuffix
    (click)="triggerSufixClick()">{{ _sufixText }}</span>

  <mat-progress-spinner *ngIf="_fieldStatus === 'PENDING' && !_pinningState" matSuffix [diameter]="16" color="primary"
    mode="indeterminate">
  </mat-progress-spinner>

  <mat-hint *ngIf="_startHint" align="start">{{ _startHint }}</mat-hint>
  <mat-hint *ngIf="_endHint" align="end">{{ _endHint }}</mat-hint>

  <mat-error *ngIf="_fieldErr" [matTooltip]="_fieldErr">{{ _fieldErr | truncate }}</mat-error>

</mat-form-field>