{{!-- <h3>Somebody requested password reset on your account</h3>
<a href="{{passwordResetLink}}">Click here</a> to change your password.

<p>
  If you didn't request password reset, just ignore this email.
</p> --}}

{{> email-header }}

<p>Hi,</p>

<p>Somebody requested password reset on for this email address. If you didn't request the password reset, just ignore
  this email.</p>

<p>To reset your password, click the button below:</p>

<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="left">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td> <a href="{{passwordResetLink}}" target="_blank">Reset password</a> </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<p>If the link above does not work, please copy and paste the following URL into your browser: </p>
<p>{{passwordResetLink}}</p>

{{> email-footer }}