<ng-template #formContent>

  <h1 class="handy-form-title">Password reset for {{ email }}</h1>

  <handy-form #formComp 
    [formName]="formName" 
    [formGroup]="form" 
    [rememberState]="rememberFormState" 
    [defaultResetBtn]="false" 
    [disablePin]="true"
    [hideFormOptions]="true"
    (validSubmitEvent)="onValidSubmit($event)" 
    (invalidSubmitEvent)="onInvalidSubmit($event)"
    (submitDisabledChange)="submitDisabledChange($event)">

    <!-- Input fields -->

    <handy-password-input [autofill]="false" [formControl]="form.get('newPassword')" label="New password" (passwordStrength)="passwordStrengthHelp = $event" placeholder="Strong password"></handy-password-input>

    <password-hint (generatedPassword)="asignGeneratedPassword($event)" [passwordStrengt]="passwordStrengthHelp" class="handy-form-password-hint">
    </password-hint>

    <raised-btn *ngIf="!inDialog" color="primary" [disabled]="submitDisabled" (click)="triggerSubmit()"
      class="handy-single-button-form">Submit</raised-btn>

  </handy-form>
</ng-template>

<!-- For handling both, as regular component and as dialog -->
<ng-container *ngIf="!inDialog">
  <ng-container *ngTemplateOutlet="formContent"></ng-container>
</ng-container>

<ng-container *ngIf="inDialog">

  <mat-dialog-content class="mat-typography">

    <ng-container *ngTemplateOutlet="formContent"></ng-container>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <flat-btn (click)="dialogRef.close()">Cancel</flat-btn>
    <raised-btn color="primary" [disabled]="submitDisabled" (click)="triggerSubmit()">Submit</raised-btn>
  </mat-dialog-actions>

</ng-container>