<div class="password-strength-wrapper">
  Password strength {{ parsedPasswordStrengt.points }}/100

  <icon-btn *ngIf="!_disablePasswordGenerator" icon="dice" (click)="generatePassword()" matTooltip="Generate strong password"></icon-btn>
  <icon-btn icon="question-circle" (click)="showPasswordHelp = !_showPasswordHelp" matTooltip="Password help"></icon-btn>

</div>

<div *ngIf="_showPasswordHelp">

  <!-- You can replace the ng-content with div/span, whatever... -->
  <ng-container *ngFor="let hint of passwordIndicatorsList">
  
    <span style="display: flex;">
      <handy-icon [color]="(parsedPasswordStrengt.guides[hint]) ? 'primary' : 'warn'"
        [icon]="(parsedPasswordStrengt.guides[hint]) ? 'check_circle' : 'exclamation-circle'"></handy-icon>
      {{ passwordHintsDictionary[hint] }}
    </span>
  
  </ng-container>

</div>