<mat-form-field [appearance]="_appearance">

  <mat-label *ngIf="_label">{{ _label }}</mat-label>

  <input #inputField="ngModel" [disabled]="_isDisabled" matInput [(ngModel)]="_value" (ngModelChange)="updateChanges()"
    [type]="(visible) ? 'text' : 'password'" [placeholder]="_placeholder" (focus)="onTouched()" [autocomplete]="(autofill) ? fieldName : 'new-password'">

  <handy-icon *ngIf="_prefixIcon && _fieldStatus !== 'PENDING' && !_pinningState" matPrefix (click)="triggerPrefixClick()" [brandIcon]="_brandedPrefixIcon"
    [size]="_prefixAndSufixIconSize" [icon]="_prefixIcon"></handy-icon>
  <handy-icon matSuffix (click)="visible = !visible"
    [size]="_prefixAndSufixIconSize" [icon]="(visible) ? 'eye': 'eye-slash'" [matTooltip]="(visible) ? 'Hide password': 'Show password'"></handy-icon>

  <span *ngIf="_prefixText && _fieldStatus !== 'PENDING' && !_pinningState" matPrefix>{{ _prefixText }}</span>

  <mat-hint *ngIf="_startHint" align="start">{{ _startHint }}</mat-hint>
  <mat-hint *ngIf="_endHint" align="end">{{ _endHint }}</mat-hint>

  <mat-error *ngIf="_fieldErr" [matTooltip]="_fieldErr">{{ _fieldErr | truncate }}</mat-error>
  
</mat-form-field>